[Desktop Entry]
Version=1.0
Name=Quick Shutdown
Comment=Shutdown the computer with confirmation
Exec=/home/junior/.mydotfiles/shortcuts/scripts/shutdown-shortcut
Icon=system-shutdown
Terminal=false
Type=Application
Categories=System;
Keywords=shutdown;power;off;
